#p1{
font-family: 'Courier New', Courier, monospace;
text-decoration: line-through;
text-transform: capitalize;
}
#p2 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: overline;
text-transform: lowercase;    
}
#p3 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: underline;
text-transform: uppercase;
}
#p4 {
font-family: 'Times New Roman', Times, serif;
text-decoration: underline overline;
text-transform: none;
}
#p0 {
text-shadow: 3px 6px 1.45px navy;
}
h1 {
    box-shadow: 4px 7px 48px crimson;
    text-indent: 50%;
}