body {    
/*background-color: azure;*/
background-image: url("bg.jpg");
background-repeat:no-repeat;
background-position:center;
background-size:cover;
background-attachment:scroll;
color:white;}
